html, body{
    margin-top: 0.15%;
    margin-bottom: 0.1%;
    background-image: url("img/b1.png");
    background-position: center center;
    background-attachment: fixed;
}
canvas{
    z-index: 1;
    margin: 0 auto;
    display: block;
    border: solid green 5px;
}
.gameOver{
    z-index: 2;
    background-image: url("img/g.png");
    position: absolute;
    left: 38%;
    top: 35%;
    height: 260px;
    width: 200px;
    background-position: right top;
    background-repeat: no-repeat;
}
.gameOver2{  
    z-index: 1;
    background-image: url("img/bleh.png");
    position: absolute;
    left: 50%;
    top: 45%;
    height: 250px;
    width: 183px;
    background-position: right top;
    background-repeat: no-repeat;
}
.tryAgain{
    z-index: 1;
    position: absolute;
    left: 54%;
    top: 65%;
    background: green;
    outline: none;
    border: none;
    color: white;
    padding: 10px;
    text-transform: uppercase;
}
.hide{
    display: none;
}